name: Regressivo QAzando
on: #momento que vai ser executando
  pull_request:
    branches: [main]
jobs:
  cypress-run:
      runs-on: ubuntu-latest
      steps:
      - name: Clonar o projeto
        uses: actions/checkout@v6

      - name: cypress runs-on
        uses: cypress-io/github-action@v7
        